*,
html {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 1000px;
    background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
    backdrop-filter: blur(50px);
}

.container-header {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

@font-face {
    font-family: headerfont;
    src: url(Boldblaster-Regular.ttf);
} 

.header {
    font-family: headerfont;
    font-size: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: headerfont;
}

.container-portofolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.portofolio-image {
    width: 200px;
    height: 200px;
    margin: 0 0 30px 0;
    border-radius: 100% 100%;
}

.portofolio-image:hover {
    transform: ;
    cursor: pointer;
}

.footer-portofolio {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    
}


/* bar under text */

/* .footer-content > li {
    color: white;
    position:relative;
}

.footer-content > li:hover {
    color: black;
}

.footer-content > li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.footer-content > li:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
} */

.portofolio {
    width: 500px;
    height: 500px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;

}

.background-portofolio {
    width: 500px;
    height: 500px;
    margin-top: 70px;
    border-radius: 50px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.02);

}



.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-top: 70px;
}

.li-footer {
    display: flex;
    margin: 20px;
    padding: 10px;
}

.bar:before {
    content: "";
    width: 10px;
    height: 20px;
    color: yellow;   
    
}






.glassMP{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.02);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.02);
width: 100px;
height: 100px;
}







h2 > span {
    position: relative;
    color: #ff0000;
    text-decoration: none;
  }
  
  h2 > span:hover {
    color: #ff0000;
  }
  
  h2 > span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  h2 > span:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  